/* MENU */
body{
    background-color: #05060f;
    font-family: "Raleway", sans-serif;
}

.logo-meLeva{

    background-color:#FFB400;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffff;
}

nav{
    background-image: url(/assets/img/export.jpeg);
    background-position: center; 
    height: 40vh;
}



.menu{
    background-color: transparent;
}

.menu-a{
    color: aliceblue;
    position: relative;
}

.menu-a:hover{
    color: aliceblue;
    font-weight: bold;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 100%;
}

.btn-premium {
    background-color: #ff8200;
}

.btn-premium:hover{
    background-color: #ff8400b4;
}

/* CARD */
.card-premium{
    background-color: #05060f;
    height: 100vh;
    margin-top: 10px ;

}

/*Neo Brutalism pricing card*/
h1{
    color: #ffff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
aside{

    display: flex;
    
}
.card {
    
    width: 190px;
    background: #00ffa0;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
    margin: auto;
    

  }
  
  /*Card content*/
  .pricing-block-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .pricing-plan {
    color: #05060f;
    font-size: 1.3rem;
    line-height: 1.25;
    font-weight: 700;
  }
  
  .price-value {
    display: flex;
    color: #05060f;
    font-size: 1.8rem;
    line-height: 1.25;
    font-weight: 700;
  }
  
  .pricing-note {
    opacity: 0.8;
  }
  
  /*Checklist*/
  .check-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;

    
  }
  
  .check-list-item {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  