*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: "Raleway", sans-serif;
}


html{
    font-size: 62.5%;
    padding: 2rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40vh;
    background-image: url('https://github.com/JoaoLucasPMedeiros/MeLevaAli-master/blob/main/assets/img/export.jpeg');
    background-position: center; 
    background-size: cover; 
    color: #ffff ;
    
}


img{
    border-radius: 10%;
    height: 65px;
    width: 85px;
}


.menu a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;

}

.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 2rem;
    color: var(--primary-color);
    position: relative;
    font-style: none;
}
.menu-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 10px;
}
.menu ul li a::after{
    content:'' ;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.Premium{
    
    display: inline-block;
    background-color: #ff8200;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 15px;
    width: auto;
}

.Premium:hover{
    cursor: pointer;
    background-color: #dc7d17c1;
    transition: all 300ms ease-in-out;
}

#map{
    height: 300px;
}
